.items {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    /* background-color: rgb(78, 77, 77); */
   
   
    }

  .items ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* img {
    height: 110px;
    width: 110px;
    margin-left: 5%;
    display: inline-block;
}
  */
  .sameline{
    display: flex;

  }
  @keyframes items-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }