 .thanks{
        margin: auto;
        width: 50%;
        margin-left: 22em;
        padding: 10px;
        margin-top: 10em;
        align-content: center;
        font-size: xx-large;
    
      }

      .backgroundlast{
        background-color: darksalmon;

      }

