.background {

    background-image: url('b5.jpg');
    background-size: cover;
    height: 90vh;
    /* background-position: center; */
    /* top: 0%; */
    right: 0%;

    margin-top: -90px;

    background-repeat: 'no-repeat';
}
.input-container{
    text-align: center;
    /* margin: 10px; */
    /* margin-top: 1%; */

}
.imglogo{
    width:65px;
    height: 45px;
    border-radius: 10px;
    margin-left: 15em;
    }

    .title
    {
        text-align: center;
        font-size: 25px;
        /* margin-left: 1.5em; */
      /* max-width: max-content;
      white-space: nowrap; */
        
    }